.hoverable-word {
  cursor: pointer;
  transition: background-color 0.2s;
}
.kana-word-a {
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 0px 5px;
  color: #999;
}
.kana-word-b {
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 0px 5px;
  color: #000;
}
.hoverable-word:hover {
  background-color: yellow;
}

.japanese-text {
  margin: 40px;
  border: 1px solid #000;
  height: calc(100% - 80px);
  width: calc(100% - 80px);
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fffffff3;
}
